.imagen{
    width: 60px;
    height: 150px;
    float: left;
    padding-right: 10px;
    margin-left: 20px;

}

.icono{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
   }

.logo{
    width: 5%;
    height: 8%;
    float: right;
}

.enlace{
    font-weight: normal;
    color: #2FC2EF;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



td{
    margin-left: 60px;
    width: 330px;
    
}


strong b{
    font-size: 14px;
    font-weight: normal;
    color: #657786;
}

table{
   background-color: #eaeef1;
}
