@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
#cuerpo{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.marcador-local{
    font-size: 50px;
}

.marcador-visitante{
    font-size: 50px;
    border-left: 1px solid lightgrey;
}

#equipo-local{
   padding-bottom: 25px;
}

#equipo-visitante{
    padding-bottom: 25px;
}
#arriba{
    height: 50px;
    width: 1000px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#abajo{
    height: 50;
    width: 1000px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#abajo table{
    margin-top: 10px;
}

.goleadores{
    font-size: 70%;
}

#vivo:hover{
    color: orange;
}